@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #1c1c2e;
  --color-secondary: #1c1c2e;
  --color-accent: #ff715b;

  --background: #f4ede4;
  --foreground: #1c1c2e;
}

.dark {
  --color-primary: #a1a1aa;
  --color-secondary: #a1a1aa;
  --color-accent: #ff6b00;

  --background: #1e1e2f;
  --foreground: #ffffff;
}

@layer components {
  .smooth-underline {
    @apply relative;
  }
  .smooth-underline::after {
    @apply content-[''] absolute left-0 w-full h-[2px] bg-[var(--color-accent)] origin-left scale-x-0 transition-transform duration-300;
    bottom: 4px; /* Adjust to match your underline-offset */
  }
  .smooth-underline:hover::after {
    @apply scale-x-100;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-sans antialiased;
  }
}
